
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%=image_tag 'herosfresh.jpeg' %>
          <div class="container">
            <div class="carousel-caption">
              <div class="carousel-text">  
                <h1>Les Super Héros de Montreuil</h1>
                <p>Le site dédié aux personnes qui se mobilisent et agissent dans la ville<br><br></p>
              </div>   
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag 'NF2.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>changetaville.fr</h1>
              <p>Agir dans sa ville en quelques clics</p>
              <!--<p><a class="btn btn-lg btn-primary" href="#" style="background:#5c9ce0"; role="button">En savoir plus</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag 'NF_5.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Envie d'être utile?</h1>
              <p>De rentrer en contact avec les personnes actives de son quartier?</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Passer à l'action</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel --> 

   <!-- Marketing messaging and featurettes
   ================================================== -->
   <%= render partial: "formulaire"  %>
   
   <%= render partial: "featurettes" %>
    <!-- FOOTER -->
    <footer>
      <p class="text-center"><a href="#">Back to top</a></p>
      <!--<p>&copy; 2014 ECMF. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
    </footer>
  </div><!-- /.container -->
</body>
</html>