<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %> 

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <title>Carousel Template for Bootstrap</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
  </head>
<body>

 <!-- Wrap the rest of the page in another container to center all the content. -->
 <header>
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Change Ta Ville</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/vitrine/concept">Concept</a></li>
              <li><a href="/vitrine/superheros">Super héros</a></li>
              <li><a href="/vitrine/montreuilcity">Montreuil City</a></li>
              <li><a href="/vitrine/contact">Contact</a></li>
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%=image_tag 'herosfresh.jpeg' %>
          <div class="container">
            <div class="carousel-caption">
              <div class="carousel-text">  
                <h1>Les Super Héros de Montreuil</h1>
                <p>Agir au sein de sa ville n'a jamais été aussi simple</p>
              </div>   
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag 'ville.jpeg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Les Super Héros de Montreuil</h1>
              <p>...</p>
              <p><a class="btn btn-lg btn-primary" href="#" style="background:#5c9ce0"; role="button">En savoir plus</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag 'NF_5.jpg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Tout près de chez vous</h1>
              <p>Trois étapes pour interagir avec l'ecosystème de sa ville</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Passer à l'action</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel --> 

   <!-- Marketing messaging and featurettes
   ================================================== -->
   <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row description text-center" background-color="bfb5b5">  

      <div class="col-lg-6">
        <img class="img-circle" data-src="holder.js/140x140" alt="">
        <i class="fa fa-heart fa-4x"></i> 
        <h2>Les Associations</h2>
        <p>Gagner en force vive et en visibilité, Mutualiser et canalyser les synergies</p>
        <p><a class="btn btn-default" href="associations/new" role="button">S'inscrire &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-6">
          <img class="img-circle" data-src="holder.js/140x140" alt="">
        <i class="fa fa-users fa-4x"></i> 
        <h2>Les Montreuillois</h2>
        <p>Donner de son temps et de son expertise, Agir aux côtés des acteurs de terrain</p>
        <p><a class="btn btn-default" href="/voluntaries/new" role="button">S'inscrire &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <!--<div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="">
        <i class="fa fa-female fa-4x"></i> 
        <i class="fa fa-male fa-4x"></i>
        <h2>Les Entrepreneurs</h2>
        <p>Partager et valoriser son savoir faire</p>
        <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <!-- START THE FEATURETTES 
    ================================================== -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-15">
        <h1 class="text-center" style="width: 100%">Les super héros de Montreuil est un sité dédié aux personnes qui se mobilisent et agissent au sein de la ville<br></h1>
        <br><p class="lead">C'est rapide, vous devriez tester</p>
        <%= image_tag("sinscrire.jpg") %>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="">
      </div>
      <div class="col-md-15">
        <h1 class="text-center" style="width: 100%">Le super héros est classiquement doté de pouvoirs supernaturels et fictifs, se distingue par son apparat et se caractérise par une double identité alliant normalité et super pouvoirs. A Montreuil, ils existent réellement<span class="text-muted"></span></h1>
      <%= image_tag("choix.jpg") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-15">
    <h1 class="text-center" style="width: 100%">3 étapes pour interagir avec l'ecosystème de sa ville<span class="text-muted"></span></h1>
      <!--<br><p class="lead">Soyez les Bienvenues</p>-->
      <%= image_tag("entraide.jpg") %>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 ECMF. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div><!-- /.container -->


</body>
</html>