<div class="col-lg-5 col-lg-offset-3">
<%= form_for @voluntary, class: "form-horizontal" do |f| %>

<div class="form-group">
<%= label_tag :last_name, "Last name", class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :last_name, class: "form-control", required: "required" %>
	</div>
</div>

<div class="form-group">
<%= label_tag :first_name, "First name", class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :first_name, class: "form-control", required: "required" %>
	</div>
</div>

<div class="form-group">
	<%= label_tag :email, "Email", class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.email_field :email, class: "form-control", required: "required" %>
	</div>
</div>

<div class="form-group">
	<%= label_tag :description, "Description", class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :description, class: "form-control", required: "required" %>	
	</div>"col-sm-2 control-label"
</div>

<div class="form-group">
	<%= label_tag :get_missions, "Get missions", class: "col-sm-2 control-label" %>
	<div class="col -sm-10">
		<%= f.text_field :get_missions, class: "form-control", required: "required" %>
	</div>"col-sm-2 control-label"
</div>

<div class="form-group">
	<%= label_tag :check_box,"Check Box", class: "col -col-sm-2 control-label" %>
	<div class="col -sm-10">
		<%= f.check_box :check_box, class: "form-control", required: "required" %>
	</div>"col-sm-2 control-label"
</div>

<div class="form-group">
	<%= f.submit %>
<% end %>
</div>

</div>